<div>
  <div
    id="customAlert"
    class="alert"
    [ngClass]="{
      success: alertType === 'Success',
      failed: alertType === 'Failed'
    }"
  >
    <div class="alert-content">
      <span class="closebtn" (click)="closeCustomAlert()">&times;</span>
      {{ message }}
    </div>
  </div>
  <div class="container-fluid" style="margin-bottom: 10px">
    <div id="overlay" *ngIf="showOverlay"></div>
    <div class="row">
      <div class="col-md-3 sd">
        <h4 class="t1">Filter By</h4>
        <hr />
        <h4 class="t2">Report Type</h4>
        <div class="dropdown">
          <div
            class="btn form-select dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <ng-container
              *ngIf="reportTypeOptions.length > 0; else selectReport"
            >
              <ng-container
                *ngFor="let option of reportTypeOptions; let last = last"
              >
                <p style="margin: 0 3px">{{ option }}</p>
                <!-- <span *ngIf="!last">,</span> -->
              </ng-container>
            </ng-container>
            <ng-template #selectReport>Select Report</ng-template>
          </div>
          <div
            class="form-selectt dropdown-menu"
            style="
              width: 100%;
              background: linear-gradient(
                118deg,
                rgba(100, 100, 100, 0.6) 30%,
                rgba(200, 200, 200, 0.1) 109.82%
              );
            "
            aria-labelledby="dropdownMenuButton"
          >
            <label class="dropdown-item" *ngFor="let option of reportTypeData">
              <input
                type="checkbox"
                [value]="option"
                (change)="onReportCheck($event, option)"
                [checked]="reportTypeOptions.includes(option)"
              />
              {{ option }}
            </label>
          </div>
        </div>

        <hr />
        <h4 class="t2">Category</h4>
        <div class="dropdown">
          <div
            class="btn form-select dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <ng-container
              *ngIf="categoryOptions.length > 0; else selectCategory"
            >
              <ng-container
                *ngFor="let option of categoryOptions; let last = last"
              >
                <p style="margin: 0 3px">{{ option }}</p>
                <!-- <span *ngIf="!last">,</span> -->
              </ng-container>
            </ng-container>
            <ng-template #selectCategory>Select Category</ng-template>
          </div>
          <div
            class="form-selectt dropdown-menu"
            aria-labelledby="dropdownMenuButton"
            style="
              max-height: 350px;
              overflow-y: auto;
              width: 100%;
              background: linear-gradient(
                118deg,
                rgba(100, 100, 100, 0.6) 30%,
                rgba(200, 200, 200, 0.1) 109.82%
              );
            "
          >
            <label class="dropdown-item" *ngFor="let option of categoryData">
              <input
                type="checkbox"
                [value]="option"
                (change)="onCategoryCheck($event, option)"
                [checked]="categoryOptions.includes(option)"
              />
              {{ option }}
            </label>
          </div>
        </div>
        <hr />
        <h4 class="t2">Region</h4>
        <div class="dropdown">
          <div
            class="btn form-select dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <ng-container
              *ngIf="regionNameOptions.length > 0; else selectRegion"
            >
              <ng-container
                *ngFor="let option of regionNameOptions; let last = last"
              >
                <p style="margin: 0 3px">{{ option }}</p>
              </ng-container>
            </ng-container>
            <ng-template #selectRegion>Select Region</ng-template>
          </div>
          <div
            class="form-selectt dropdown-menu"
            aria-labelledby="dropdownMenuButton"
            style="
              width: 100%;
              background: linear-gradient(
                118deg,
                rgba(100, 100, 100, 0.6) 30%,
                rgba(200, 200, 200, 0.1) 109.82%
              );
            "
          >
            <label class="dropdown-item" *ngFor="let option of regionData">
              <input
                type="checkbox"
                [value]="option"
                (change)="onRegionCheck($event, option)"
                [checked]="regionNameOptions.includes(option)"
              />
              {{ option }}
            </label>
          </div>
        </div>
        <hr />
        <h4 class="t2">Author</h4>
        <div class="dropdown">
          <div
            class="btn form-select dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <ng-container *ngIf="authorOptions.length > 0; else selectAuthor">
              <ng-container
                *ngFor="let option of authorOptions; let last = last"
              >
                <p style="margin: 0 3px">{{ option }}</p>
                <!-- <span *ngIf="!last">,</span> -->
              </ng-container>
            </ng-container>
            <ng-template #selectAuthor>Select Author</ng-template>
          </div>
          <div
            class="form-selectt dropdown-menu"
            aria-labelledby="dropdownMenuButton"
            style="
              max-height: 350px;
              overflow-y: auto;
              width: 100%;
              background: linear-gradient(
                118deg,
                rgba(100, 100, 100, 0.6) 30%,
                rgba(200, 200, 200, 0.1) 109.82%
              );
            "
          >
            <label class="dropdown-item" *ngFor="let option of authorData">
              <input
                type="checkbox"
                [value]="option"
                (change)="onAnalystCheck($event, option)"
                [checked]="authorOptions.includes(option)"
              />
              {{ option }}
            </label>
          </div>
        </div>
        <!-- <div class="d-flex justify-content-end position-relative">
          <button
            class="btn btn-success bn position-absolute left-0 mt-4"
            mat-button
            (click)="apply()"
          >
            Apply
          </button>
        </div> -->
      </div>
      <div class="col-md-9" style="padding-right: 70px">
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-md-6 my-4 d-flex align-items-center justify-content-start"
            >
              <span class="dr" style="font-size: 16px !important"
                >Date Range</span
              >
              <span class="sdr" style="font-size: 16px !important">
                Select a Date Range
                <i class="fa fa-calendar-minus-o"></i>
              </span>
              <div *ngIf="showDateRangePicker">
              </div>
            </div>
            <!-- <mat-form-field appearance="fill">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" />
                <input matEndDate placeholder="End date" />
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field> -->

            <div
              class="col-md-6 my-4 d-flex align-items-center justify-content-end"
            >
              <span class="sb" style="font-size: 16px !important">Sort By</span>
              <span class="rd" style="font-size: 16px !important">
                Release Date <a href="#"><i class="fas fa-angle-down"></i></a>
              </span>
            </div>
          </div>

          <hr class="linebt" />
          <div class="row d-flex mb-4">
            <div
              class="col-md-6 d-flex align-items-center justify-content-start"
            >
              <form>
                <div class="d-flex align-items-center">
                  <div>
                    <input
                      class="srch"
                      type="text"
                      name="search"
                      placeholder="Search Topic"
                      [(ngModel)]="searchText"
                      (input)="onSearchChange($event)"
                    />
                  </div>
                  <div>
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </form>
            </div>
            <div
              class="col-sm-6 plt d-flex align-items-center justify-content-end"
            >
              <div *ngIf="isLogin">
                <span>
                  <input
                    type="radio"
                    name="radio"
                    (change)="toggleResearchType(false)"
                    id="allResearch"
                    [checked]="!isSubscribed"
                  />
                  <label
                    for="allResearch"
                    style="cursor: pointer; color: #00327a; font-size: 16px"
                    >All Research</label
                  >
                </span>
                <span>
                  <input
                    type="radio"
                    name="radio"
                    (change)="toggleResearchType(true)"
                    id="subscribedResearch"
                    [checked]="isSubscribed"
                  />
                  <label
                    for="subscribedResearch"
                    style="cursor: pointer; color: #00327a; font-size: 16px"
                    >Subscribed Research</label
                  >
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="selectedOptions.length > 0">
            <div>
              <button
                class="selectedOptions_button"
                *ngFor="let option of selectedOptions; let i = index"
              >
                {{ option }}
                <span style="margin-left: 7px" (click)="removeOption(i)"
                  >✖</span
                >
              </button>
            </div>
          </div>
          <div *ngIf="isLoading">
            <br /><br /><br /><br /><br /><br /><br /><br />
            <div class="loading-spinner" style="width: 80px; height: 80px">
              <!-- <div class="logo-pre">
                      <img src="../../../../assets/lg.gif" alt="Logo" class="img-fluid" height="40px;width:40px;">
                  </div> -->
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br />
          </div>
          <div *ngIf="!isLoading">
            <div *ngIf="mappedReports.length > 0">
              <div
                class="research-item"
                *ngFor="
                  let research of (searchText
                    ? (mappedReports | filter : searchText)
                    : mappedReports
                  ) | slice : startIndex : endIndex
                "
              >
                <div class="row" [id]="research.id">
                  <div class="col-md-9">
                    <div class="column">
                      <!-- <span>Date :</span> -->
                      <span style="margin: 14px"
                        >{{ research.publishDate }}
                      </span>
                      <span>|</span>
                      <span style="margin-left: 14px">Category :</span>
                      <a
                        style="
                          text-decoration: none;
                          color: #1673fd;
                          cursor: pointer;
                        "
                        (click)="onCategoryClick(research.categoryName)"
                      >
                        <span>
                          {{
                            research.categoryName && research.categoryName
                          }}</span
                        >
                      </a>
                    </div>
                    <div class="col-md-9" style="margin-top: 10px">
                      <a
                        routerLink="/research-single"
                        class="research-title"
                        (click)="navigateToResearchSingle(research)"
                        >{{ research.reportType && research.reportType }} :
                        {{ research.report && research.report }}
                      </a>
                      <br />
                      <p style="margin: 0.5rem 0">
                        Author :
                        <span
                          style="color: #0d6efd; cursor: pointer"
                          (click)="onAuthorClick(research.author)"
                        >
                          {{ research.author && research.author }}
                        </span>
                      </p>
                      <!-- <span class="research-category" *ngFor="let a of research.author">
                                                        <a href="#" style="text-decoration: none"
                                                          ><span>{{ a }} </span></a
                                                        >
                                                      </span> -->
                    </div>

                    <div class="col-md-12 research-description">
                      <!-- <div>{{ research.description }}</div> -->
                      <div
                        [innerHtml]="getFirstParagraph(research.description)"
                      ></div>
                      <!-- <div
                        *ngIf="research.isSubscribed"
                        [innerHtml]="getFirst100Words(research.description)"
                      ></div> -->
                    </div>
                  </div>
                  <div class="col-md-3 d-flex align-items-center">
                    <!-- if the report if not subscribed -->
                    <div
                      class="col-md-12 d-flex align-items-center justify-content-center"
                      *ngIf="research.isSubscribed === false"
                    >
                      <div *ngIf="research.isSubscribed === false">
                        <div class="row" style="margin-bottom: 15px !important">
                          <div class="col-md-6 im">
                            <a
                              (click)="addToCart(research)"
                              style="cursor: pointer"
                              ><img src="/assets/cart.png" style="width: 22px"
                            /></a>
                          </div>
                          <div class="col-md-6 im1">
                            <a
                              (click)="downloadForm(research)"
                              style="cursor: pointer"
                              ><img
                                src="/assets/download.png"
                                style="width: 22px"
                            /></a>
                          </div>
                        </div>
                        <button
                          class="btn btn-success bn"
                          style="font-size: 14px"
                          (click)="buyNow(research)"
                        >
                          Buy Now
                        </button>
                      </div>
                    </div>
                    <!-- If the report is subscribed -->
                    <div
                      class="col-md-12 d-flex flex-column align-items-center justify-content-center"
                      *ngIf="research.isSubscribed === true"
                    >
                      <button
                        class="btn btn-success bn"
                        style="margin-bottom: 10px !important; font-size: 14px"
                        (click)="downloadResearch(research.id)"
                      >
                        Download
                      </button>
                      <button
                        class="btn btn-success bn"
                        style="margin-bottom: 5px !important; font-size: 14px"
                        (click)="readReport(research.id)"
                      >
                        Read View
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-left: 2px !important">
                  <div class="d-flex col-md-10" style="margin-top: 4px">
                    <span>Price: </span>
                    <p class="prc">$ {{ research.price }}</p>
                  </div>
                  <div class="col-md-2 rm">
                    <div class="">
                      <a
                        href="/research-single"
                        routerLink="/research-single"
                        (click)="navigateToResearchSingle(research)"
                        style="text-decoration: none"
                        >Read More<img
                          src="/assets/Icon.png"
                          style="width: 28px; height: 10px"
                      /></a>
                    </div>
                  </div>
                </div>
                <hr style="border: 1px solid #00327a33; width: 100%" />
              </div>
            </div>
          </div>

          <div
            *ngIf="mappedReports.length === 0"
            class="d-flex justify-content-center"
            style="height: 80vh"
          >
            <h1>No data</h1>
          </div>
          <div class="row" *ngIf="mappedReports.length >= 5">
            <ul
              class="pagination"
              style="justify-content: center; align-items: center"
            >
              <li class="page-item d-flex" [class.disabled]="currentPage === 1">
                <!-- <a
                  style="padding: 6px 0px"
                  class="page-link"
                  (click)="getFirstPage()"
                  aria-label="Previous"
                  [style.cursor]="currentPage !== 1 ? 'pointer' : 'default'"
                >
                  <svg
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    stroke="currentColor"
                    stroke-width="2"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="css-i6dzq1"
                  >
                    <polyline points="11 17 6 12 11 7"></polyline>
                    <polyline points="18 17 13 12 18 7"></polyline>
                  </svg>
                </a> -->
                <a
                  style="padding: 6px 0px"
                  class="page-link"
                  (click)="currentPage !== 1 && onPageChange(currentPage - 1)"
                  aria-label="Previous"
                  [style.cursor]="currentPage !== 1 ? 'pointer' : 'default'"
                >
                  <svg
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    stroke="currentColor"
                    stroke-width="2"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="css-i6dzq1"
                  >
                    <polyline points="15 18 9 12 15 6"></polyline>
                  </svg>
                </a>
              </li>
              <ng-container *ngFor="let page of getVisiblePages()">
                <li class="page-item" [class.active]="page === currentPage">
                  <a
                    class="page-link"
                    (click)="onPageChange(page)"
                    [style.cursor]="'pointer'"
                    >{{ page }}</a
                  >
                </li>
              </ng-container>
              <li
                class="page-item d-flex"
                [class.disabled]="currentPage === getLastPage()"
              >
                <a
                  style="padding: 6px 0px"
                  class="page-link"
                  (click)="
                    currentPage !== getLastPage() &&
                      onPageChange(currentPage + 1)
                  "
                  aria-label="Next"
                  [style.cursor]="
                    currentPage !== getLastPage() ? 'pointer' : 'default'
                  "
                >
                  <svg
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    stroke="currentColor"
                    stroke-width="2"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="css-i6dzq1"
                  >
                    <polyline points="9 18 15 12 9 6"></polyline>
                  </svg>
                </a>
                <!-- <a
                  style="padding: 6px 0px"
                  class="page-link"
                  (click)="getLastPages()"
                  aria-label="Next"
                  [style.cursor]="
                    currentPage !== getLastPages() ? 'pointer' : 'default'
                  "
                >
                  <svg
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    stroke="currentColor"
                    stroke-width="2"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="css-i6dzq1"
                  >
                    <polyline points="13 17 18 12 13 7"></polyline>
                    <polyline points="6 17 11 12 6 7"></polyline>
                  </svg>
                </a> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-searchbar></app-searchbar>
