<div class="container-fluid cart-container">
  <div class="row">
    <div class="col-md-9 p-5 price-reports-container">
      <div class="d-flex justify-content-between cart-header">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="m-0 p-3">Reports</h3>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="m-0 p-3">Price ( Inclusive of GST )</h3>
        </div>
      </div>
      <div
        class="d-flex justify-content-center align-items-center"
        *ngIf="cart.length === 0"
        style="background-color: white; padding-bottom: 35px"
      >
        <p
          style="
            padding-top: 150px !important;
            font-size: 24px;
            font-weight: 700;
            color: #00327a;
          "
        >
          Your cart is empty.
        </p>
      </div>
      <div class="inner-cart-container">
        <div
          [ngClass]="{ 'no-border-bottom': last }"
          style="border-bottom: 1px #00327a33 solid"
          class="row mx-4 cart-details-container"
          *ngFor="let item of cart; let last = last"
        >
          <div class="col-md-8 col-12 d-flex price-number-container py-4">
            <div class="d-flex row row-gap-2 w-100">
              <div class="d-flex w-100 justify-content-between pr-0">
                <div class="d-flex w-100 pr-0">
                  <span class="category-heading">Category:</span>
                  <div *ngFor="let category of item.research.categoryList">
                    <span class="category-list">{{ category }}</span
                    ><br />
                  </div>
                </div>
                <div class="delete-button-mobile">
                  <img
                    src="../../../../assets/delete_button.svg"
                    (click)="removeFromCart(item)"
                    style="cursor: pointer"
                  />
                </div>
              </div>

              <div>
                <span class="report-title">{{ item.research.report }}</span>
              </div>
              <div class="d-flex">
                <span class="authors-heading">Authors:</span>
                <div *ngIf="item.research.authors.length == 0">
                  <p
                    class="authors-list"
                    style="margin-left: 4px; color: #444343; cursor: pointer"
                  >
                    NA
                  </p>
                </div>
                <div
                  class="authors-list"
                  *ngIf="item.research.authors.length != 0"
                >
                  <a
                    class="authors-list"
                    *ngFor="
                      let author of item.research.authors;
                      let last = last
                    "
                  >
                    <ng-container *ngIf="!last; else lastAuthor">
                      <span class="authors-list">{{ author }}, </span>
                    </ng-container>
                    <ng-template #lastAuthor>
                      <span class="authors-list">{{ author }}</span>
                    </ng-template>
                  </a>
                </div>
              </div>
              <div>
                <div class="mt-1">
                  <span (click)="decrement(item)"
                    ><svg
                      width="26"
                      height="26"
                      viewBox="0 0 26 26"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      style="cursor: pointer; margin-top: -9px !important"
                      class="count-style-increment"
                    >
                      <rect width="26" height="26" fill="#00327A" />
                      <path
                        d="M7 13H19"
                        stroke="white"
                        stroke-width="2"
                        stroke-linecap="round"
                      />
                    </svg>
                  </span>
                  <span class="count-style">{{ item.count }}</span>
                  <span (click)="increment(item)">
                    <svg
                      width="26"
                      height="26"
                      viewBox="0 0 26 26"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      style="cursor: pointer; margin-top: -9px !important"
                      class="count-style-increment"
                    >
                      <rect width="26" height="26" fill="#00327A" />
                      <path
                        d="M13 7L13 19M19 13L7 13"
                        stroke="white"
                        stroke-width="2"
                        stroke-linecap="round"
                      />
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 py-4 price-gst-details-container">
            <div class="d-flex justify-content-between">
              <div class="d-flex gap-4 details-price-combination">
                <div class="price">${{ item.research.price }}</div>
                <div
                  (click)="toggleGstContainer(item)"
                  class="details-dropdown details-hover"
                >
                  Details
                  <img
                    *ngIf="!item.showGstContainer"
                    src="../../../../assets/plus-details-icon.svg"
                    class="svg-icon icon-hover"
                    style="cursor: pointer"
                  />
                  <img
                    *ngIf="item.showGstContainer"
                    src="../../../../assets/details-icon.svg"
                    style="cursor: pointer; margin-left: 2px"
                    class="svg-icon icon-hover"
                  />
                </div>
              </div>
              <div
                class="delete-button icon-hover-effect"
                (click)="removeFromCart(item)"
                style="cursor: pointer"
              >
                <svg
                  width="22"
                  height="22"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="svg-path"
                    d="M4 6.17647H20M9 3H15M10 16.7647V10.4118M14 16.7647V10.4118M15.5 21H8.5C7.39543 21 6.5 20.0519 6.5 18.8824L6.0434 7.27937C6.01973 6.67783 6.47392 6.17647 7.04253 6.17647H16.9575C17.5261 6.17647 17.9803 6.67783 17.9566 7.27937L17.5 18.8824C17.5 20.0519 16.6046 21 15.5 21Z"
                    stroke="#00327A"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <div class="d-flex" *ngIf="item.showGstContainer">
              <div class="d-flex gst-container row row-gap-3">
                <div class="d-flex justify-content-between">
                  <span class="reports-gst-label">Price</span>
                  <span class="reports-gst-value"
                    >${{ item.research.price }}</span
                  >
                </div>
                <div class="d-flex justify-content-between">
                  <span class="reports-gst-label">GST@18%</span>
                  <span class="reports-gst-value">0</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="reports-gst-label">Final Price</span>
                  <span class="reports-gst-value"
                    >${{ item.research.price }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 pt-5 pr-5 payment-summary-container">
      <div class="d-flex row justify-content-between cart-header">
        <div class="d-flex justify-content-between cart-header">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="m-0 p-3">Payment Summary</h3>
          </div>
        </div>
        <div
          class="pb-4"
          style="background-color: white; height: 320px !important"
        >
          <div class="d-flex row row-gap-4 mx-3 mt-3">
            <div class="d-flex justify-content-between">
              <span class="payment-label">Total Reports</span
              ><span class="payment-value">{{ getTotalReports() }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="payment-label">Discount</span
              ><span class="payment-discount-value">$0</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="payment-label">Subtotal</span
              ><span class="payment-value">${{ getTotalPrice() }}</span>
            </div>
            <hr style="width: 95%" />
          </div>
          <div
            class="d-flex justify-content-between mx-2 py-3 px-3"
            style="background-color: #f3f4f5"
          >
            <span class="payment-label">Total</span>
            <span class="payment-value">${{ getTotalPrice() }}</span>
          </div>
          <div>
            <button
              type="submit"
              class="btn btn-primary common-button-style"
              style="
                margin-top: 25px !important;
                border: 0px;
                font-size: 17px !important;
              "
            >
              Proceed Payment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="cart-container">
  <h2>Cart</h2>
  <h4 style="color: #ff0000">
    <span style="font-weight: bolder"> * NOTE :</span> Do not refresh / close
    your page after you have added items in your cart. You may lose it !
  </h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Report</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart">
        <td>{{ item.research.report }}</td>
        <td>{{ item.quantity }}</td>
        <td><i class="fas fa-dollar-sign"></i> {{ item.research.price }}</td>
        <td>
          <button
            class="btn btn-danger mr1"
            (click)="removeFromCart(item)"
            style="background-color: #011f41; border: none; width: 70%"
          >
            Remove
          </button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="cart-summary" *ngIf="cart.length > 0">
            <p>
              Total Price: <i class="fas fa-dollar-sign"></i>
              {{ getTotalPrice() }}
            </p>
            <button
              class="btn btn-success mr"
              (click)="checkout(getTotalPrice())"
              style="
                background-color: #0d6efd;
                position: relative;
                top: -40px;
                right: -226px;
              "
            >
              Checkout
            </button>
          </div>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="empty-cart" *ngIf="cart.length === 0">
    <p>Your cart is empty.</p>
  </div>
</div>
<app-searchbar></app-searchbar> -->
