$white: #ffffff;
$blue: blue;
$blue-2: #00327a;
$grey: #444343b3;
$grey-2: #444343;

.cart-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f3f4f5;
}
.delete-button-mobile {
  visibility: hidden !important;
}
.discount-value {
  background-color: #ffcd00;
  color: $blue-2;
  border-radius: 15px;
  padding: 2px 5px;
  font-size: 10px;
  margin-left: 4px;
}
.strikethrough {
  text-decoration: line-through;
  color: $grey !important;
  font-family: "Arial Nova" !important;
  font-size: 20px;
  font-weight: 700;
  font-weight: 400px !important;
  margin-right: 8px !important;
  margin-left: 5px !important;
}
.cart-header {
  background-color: #d3d8df;
}
.cart-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.table {
  margin-bottom: 20px;
}

.empty-cart p {
  margin-bottom: 20px;
}

.cart-summary p {
  margin-bottom: 10px;
  position: relative;
  left: -77px;
  font-weight: bold;
}
.no-border-bottom {
  border-bottom: none !important;
}
.cart-summary button {
  margin-top: 10px;
}
.inner-cart-container {
  background-color: $white;
  padding-bottom: 105px !important;
  margin-bottom: 100px !important;
}
.icon-hover-effect:hover .svg-path {
  stroke: red; /* Change this to the desired hover color */
}
.count-style-increment:hover {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.details-dropdown {
  color: #0972ea;
  font-size: 16px !important;
}
.details-hover:hover {
  color: $blue;
}

.details-hover:hover svg path {
  stroke: $blue;
}
.details-hover:hover icon-hover-effect {
  stroke: $blue;
  fill: $blue;
}
@media screen and (max-width: 480px) {
  .mr {
    position: relative !important;
    top: -40px !important;
    left: 105px;
  }
  .mr1 {
    width: 93px !important;
    position: relative;
    top: 5px;
    left: -36px;
  }
  .cart-summary p {
    margin-bottom: 10px;
    position: relative;
    left: -80px;
    font-weight: bold;
    width: 131px;
  }
  .prc {
    padding-left: 8px !important;
  }
  .price {
    padding-left: 8px !important;
  }
  .strikethrough {
    padding-left: 10px !important;
    font-size: 18px !important;
  }
  .discount-price {
    font-size: 18px !important;
  }
  .payment-summary-container {
    padding: 20px !important;
  }
  .price-reports-container {
    padding: 10px !important;
    padding: 10px 0px 0px 0px !important;
  }
  .price-number-container {
    padding: 10px 0px 0px 0px !important;
    padding: 10px 0px 0px 0px !important;
  }
  .cart-details-container {
    margin: 0px !important;
    padding: 15px !important;
  }
  .price-gst-details-container {
    padding: 10px 0px 0px 0px !important;
  }
  .delete-button-mobile {
    visibility: visible !important;
  }
  .delete-button {
    display: none !important;
  }
  .details-price-combination {
    margin-left: -10px !important;
  }
  .inner-cart-container {
    background-color: $white;
    padding-bottom: 40px !important;
    margin-bottom: 0px !important;
  }
}

.report-title {
  color: $blue-2;
  font-size: 18px;
  font-weight: 700;
}
.gst-container {
  background-color: #f3f4f5;
  margin-right: 60px !important;
  margin-left: 4px !important;
  margin-top: 10px !important;
  padding: 20px 20px !important;
}
.category-heading {
  font-size: 16px;
  font-weight: 400;
  color: $grey-2;
}
.category-list {
  margin-left: 5px !important;
  color: $grey-2;
  font-size: 16px;
  font-weight: 400;
}
.authors-heading {
  font-size: 16px;
  font-weight: 400;
  color: $grey-2;
}
.authors-list {
  margin-left: 2px !important;
  color: $grey-2;
  font-size: 16px;
  font-weight: 400;
}
.price {
  font-size: 20px;
  font-weight: 700;
  color: $grey-2;
  padding-left: 5px !important;
}
.discount-price {
  font-size: 20px;
  font-weight: 700;
  color: $grey-2;
}
.procced-btn {
  display: flex;

  height: 45px;
  font-size: 14px;
  font-family: "Arial Nova";
  padding: 14px 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(275deg, #4cd6b0 -6.18%, $blue-2 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.payment-label {
  font-size: 18px;
  font-weight: 700;
  color: $blue-2;
}
.payment-value {
  font-size: 18px;
  font-weight: 700;
  color: $grey-2;
}
.payment-discount-value {
  font-size: 18px;
  font-weight: 700;
  color: red;
}
.reports-gst-label {
  font-size: 16px;
  font-weight: 400;
  color: $grey-2;
}
.reports-gst-value {
  font-size: 16px;
  font-weight: 400;
  color: $grey-2;
}
.count-style {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0px 20px;
  padding-top: 10px !important;
  line-height: 29.03px !important;
}
@media (max-width: 768px) {
  .cart-header h3 {
    font-size: 18px;
  }
  .category-heading,
  .authors-heading {
    font-size: 14px;
  }
  .category-list,
  .authors-list,
  .report-title,
  .price {
    font-size: 16px;
  }
  .count-style {
    font-size: 18px;
  }
  .payment-label,
  .payment-value,
  .payment-discount-value {
    font-size: 16px;
  }
  .proceed-btn {
    font-size: 16px;
    width: 100%;
  }
  .gst-container {
    background-color: #f3f4f5;
    margin-right: 0px !important;
    margin-top: 0px !important;
    padding: 10px 0px !important;
    margin-left: 0px !important;
  }
}
@media (max-width: 1028px) {
  .gst-container {
    background-color: #f3f4f5;
    margin-right: 10px !important;
    margin-top: 10px !important;
    padding: 10px 0px !important;
  }
  .procced-btn {
    display: flex;

    height: 45px;
    font-size: 14px;
    font-family: "Arial Nova";
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: linear-gradient(275deg, #4cd6b0 -6.18%, $blue-2 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
