<div
  class="container-fluid cf common-header-distance"
  style="
    background: linear-gradient(
      90deg,
      #fff 0%,
      #c6e1ff 14.5%,
      #fff 46%,
      #c6e1ff 77.93%,
      #fff 100%
    );
  "
>
  <div class="row p-0">
    <!-- Justify content for the first column -->
    <div
      class="col-md-6 d-flex"
      style="justify-content: space-between; align-items: center"
    >
      <ul class="d-flex" style="gap: 30px">
        <!-- Spacing between items in the list -->
        <li>
          <a
            routerLink="/press-release"
            style="color: #011f41"
            data-bs-dismiss="offcanvas"
            >Press Release</a
          >
        </li>
        <li>
          <a
            routerLink="/career"
            style="color: #011f41"
            data-bs-dismiss="offcanvas"
            >Career</a
          >
        </li>
        <li>
          <a
            routerLink="/contact-us"
            style="color: #011f41"
            data-bs-dismiss="offcanvas"
            >Contact</a
          >
        </li>
        <!-- <li><a routerLink="#" style="color: #011f41">Blue Folder</a></li> -->
      </ul>
    </div>

    <!-- Content for the second column -->
    <div
      class="col-md-6 d-flex"
      style="justify-content: flex-end; align-items: center; gap: 10px"
    >
      <!-- Flex with gap -->
      <span
        style="cursor: pointer"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        <img src="../../../assets/headphones.svg" alt="User icon" />
      </span>

      <div class="dropdown" style="cursor: pointer; margin-right: 50px">
        <!-- The icon that triggers the dropdown -->
        <span
          id="logoutDropdown"
          data-toggle="dropdown"
          aria-expanded="false"
          style="cursor: pointer"
        >
          <img src="../../../assets/bell.svg" alt="User icon" />
        </span>

        <!-- The dropdown menu -->
        <div
          class="dropdown-menu dropdown-menu-right notification-dropdown-container p-4"
        >
          <h3 style="color: #00327a; font-weight: 700; font-size: 19px">
            Notifications
          </h3>
          <div class="d-flex column-gap-3">
            <div>
              <img
                style="margin-top: 2px !important"
                src="../../../assets/list_notification.svg"
                alt="User icon"
              />
            </div>
            <div>
              <div class="d-flex justify-content-between align-items-start p-0">
                <h3 class="m-0" style="margin-top: -2px !important">
                  SPARK Matrix :  Governance Risk & Compliance (GRC), 2024 
                </h3>
                <img src="../../../assets/cross_button.svg" alt="User icon" />
              </div>
              <div
                class="d-flex justify-content-between align-items-center p-0 m-0"
              >
                <h3 class="m-0">Available Now</h3>
                <h3 class="m-0">2 Hrs</h3>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>

      <span
        *ngIf="!isLoggedIn"
        style="cursor: pointer"
        data-toggle="modal"
        data-target="#exampleModal1"
        (click)="toggleLogin()"
      >
        Login </span
      >/
      <span
        *ngIf="!isLoggedIn"
        style="cursor: pointer; margin-right: 50px"
        data-toggle="modal"
        data-target="#exampleModal1"
        (click)="toggleSignup()"
      >
        Sign Up
      </span>

      <div
        class="dropdown"
        *ngIf="isLoggedIn"
        style="cursor: pointer; margin-right: 50px"
      >
        <!-- The icon that triggers the dropdown -->
        <span
          class="dropdown-toggle"
          id="logoutDropdown"
          data-toggle="dropdown"
          aria-expanded="false"
          style="cursor: pointer"
        >
          <img src="/assets/ellipse.png" style="width: 25px" alt="User icon" />
          <span style="margin: 4px !important">Hi, {{ firstName }}</span>
        </span>

        <!-- The dropdown menu -->
        <div
          class="dropdown-menu dropdown-menu-right profile-dropdown-container p-4"
        >
          <div class="d-flex column-gap-4 mt-2">
            <img src="../../../assets/profile_icon.svg" alt="User icon" />
            <span routerLink="/my-profile" class="dropdownValueName"
              >Your Profile</span
            >
          </div>
          <div class="d-flex column-gap-4 mt-4">
            <img src="../../../assets/subscribed_logo.svg" alt="User icon" />
            <span class="dropdownValueName">Subscribed Research</span>
          </div>

          <div class="d-flex column-gap-4 mt-4">
            <img src="../../../assets/all_research.svg" alt="User icon" />
            <span class="dropdownValueName">All Research</span>
          </div>

          <div class="d-flex column-gap-4 mt-4">
            <img src="../../../assets/logout.svg" alt="User icon" />
            <span (click)="onLogout()" class="dropdownValueName">Logout</span>
          </div>
        </div>
      </div>
      <a routerLink="/cart" style="text-decoration: none">
        <div class="d-flex">
          <i class="fa fa-cart-plus fa-2x fa-fw" style="color: blue"> </i>
          <p style="color: #0000ff">
            {{ getCartItems() }}
          </p>
        </div>
      </a>
    </div>
  </div>

  <!-- Modal For Enquiry -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="height: auto; background: #ddefed">
        <div class="modal-header">
          <h5 class="modal-title ef" id="exampleModalLabel">Enquiry Form</h5>
          <img src="/assets/Line.png" class="bln" />
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="enquiryForm" (ngSubmit)="onSubmitEnquiryForm()">
            <div class="d-flex mb-2">
              <img
                style="height: 42px"
                src="../../../assets//Form-component.png"
              />
              <input
                type="text"
                class="form-control"
                id="inputName"
                placeholder="Name"
                formControlName="name"
                required
              />
            </div>

            <div class="mb-2">
              <div class="d-flex">
                <img
                  style="height: 42px"
                  src="../../../assets/Form-Component2.png"
                />
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail"
                  placeholder="Email"
                  formControlName="email"
                  required
                />
              </div>
              <div *ngIf="enquiryForm.controls['email'].errors">
                <small
                  class="text-danger"
                  *ngIf="enquiryForm.controls['email'].errors['email']"
                >
                  Invalid email address.
                </small>
              </div>
            </div>
            <div class="d-flex mb-2">
              <img
                style="height: 42px"
                src="../../../assets//Form-Component3.png"
              />
              <input
                type="text"
                class="form-control"
                id="inputTel"
                placeholder="Contact"
                formControlName="contact"
                required
              />
            </div>
            <div class="d-flex mb-2">
              <img
                style="height: 42px"
                src="../../../assets//Form-Component4.png"
              />
              <input
                type="text"
                class="form-control"
                id="inputCompanyname"
                placeholder="Company name"
                formControlName="companyname"
                required
              />
            </div>

            <div class="d-flex mb-2">
              <img
                style="height: 42px"
                src="../../../assets//Form-Component5.png"
              />
              <select
                class="form-select"
                id="queries"
                formControlName="queries"
              >
                <option selected>Queries...</option>
                <option value="1">Connect to Analyst</option>
                <option value="2">Connect to Account Manager</option>
                <option value="3">Custom Request</option>
                <option value="4">Inqueries Related to Deliverables</option>
              </select>
            </div>
            <div class="d-flex mb-2">
              <img
                style="height: 42px"
                src="../../../assets//Form-Component6.png"
              />
              <input
                type="text"
                class="form-control"
                id="inputMessage"
                placeholder="Message"
                formControlName="message"
                required
              />
            </div>
            <div class="form-check mb-2">
              <input
                type="checkbox"
                class="form-check-input"
                id="additionalInfoCheckbox"
                formControlName="provideAdditionalInfo"
                (change)="onAdditionalInfoChange($event)"
              />
              <label class="form-check-label" for="additionalInfoCheckbox"
                >Provide additional information</label
              >
            </div>

            <div *ngIf="showAdditionalInfo" class="d-flex gap-3">
              <div class="d-flex mb-2">
                <img
                  style="height: 42px"
                  src="../../../assets//Form-Component6.png"
                />
                <input
                  type="date"
                  class="form-control"
                  id="inputDate"
                  formControlName="date"
                  required
                />
              </div>
              <div class="d-flex mb-3">
                <img
                  style="height: 42px"
                  src="../../../assets//Form-Component6.png"
                />
                <input
                  type="time"
                  class="form-control"
                  id="inputTime"
                  formControlName="time"
                  required
                />
              </div>
            </div>
            <button type="submit" class="btn btn-primary btp" style="border: 0">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal For Login -->
  <!-- Modal For Login and Signup -->

  <div
    class="modal fade"
    id="exampleModal1"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div
        class="modal-content"
        style="height: auto !important; background: #ddefed"
      >
        <div class="modal-header">
          <h1
            class="modal-title ef"
            id="exampleModalLabel"
            style="font-size: 20px !important"
          >
            {{ isSignup ? "Sign Up" : "Login" }}
          </h1>
          <img src="/assets/Line.png" class="bln" />

          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>{{ isSignup ? "Welcome" : "Welcome Back !" }}</h3>
          <form
            *ngIf="!isSignup"
            [formGroup]="loginForm"
            (ngSubmit)="onLogin()"
          >
            <div class="mb-4">
              <div class="d-flex">
                <img
                  style="height: 42px"
                  src="../../../assets/Form-Component2.png"
                />
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail"
                  placeholder="Email"
                  formControlName="email"
                  required
                />
              </div>
              <div *ngIf="loginForm.controls['email'].errors">
                <small
                  class="text-danger"
                  *ngIf="loginForm.controls['email'].errors['email']"
                >
                  Invalid email address.
                </small>
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex">
                <img
                  style="height: 42px"
                  src="../../../assets//Password-icon.png"
                />
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Password"
                  formControlName="password"
                  required
                />
              </div>
              <div *ngIf="loginForm.controls['password'].errors">
                <!-- <small class="text-danger" *ngIf="loginForm.controls['password'].errors['required']">Password is
              required.</small> -->
                <small
                  class="text-danger"
                  *ngIf="loginForm.controls['password'].errors['minlength']"
                  >Password must be at least 10 characters.</small
                >
              </div>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="checkTerms" />
              <label class="form-check-label" for="checkTerms"
                >Auto Sign In</label
              >
              <a href=""
                ><label style="float: right">Forgot Your Password?</label></a
              >
            </div>
            <button
              type="submit"
              class="btn btn-primary btp"
              style="
                margin-top: 25px !important;
                margin-bottom: 25px !important;
                border: 0px;
                font-size: 17px !important;
              "
            >
              Submit
            </button>

            <div class="d-flex justify-content-center align-items-center mb-5">
              <span style="font-size: 15px"> Not registered ? </span
              ><span class="create-account-navigation" (click)="toggleSignup()"
                >Create an account</span
              >
            </div>
          </form>
          <!-- Signup Form -->

          <form
            *ngIf="isSignup"
            [formGroup]="signupForm"
            (ngSubmit)="onSignup()"
          >
            <div class="mb-3">
              <div class="d-flex">
                <img
                  style="height: 42px"
                  src="../../../assets/Form-component.png"
                />
                <input
                  type="text"
                  class="form-control"
                  id="inputName"
                  placeholder="FirstName"
                  formControlName="name"
                  required
                />
              </div>
              <div
                *ngIf="
                  signupForm.get('name')?.touched &&
                  signupForm.get('name')?.invalid
                "
                class="text-danger"
              >
                Name is required.
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex">
                <img
                  style="height: 42px"
                  src="../../../assets/Form-component.png"
                />
                <input
                  type="text"
                  class="form-control"
                  id="inputName"
                  placeholder="LastName"
                  formControlName="name"
                  required
                />
              </div>
              <div
                *ngIf="
                  signupForm.get('name')?.touched &&
                  signupForm.get('name')?.invalid
                "
                class="text-danger"
              >
                Name is required.
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex">
                <img
                  style="height: 44px"
                  src="../../../assets/Form-Component4.png"
                />
                <input
                  type="text"
                  class="form-control"
                  id="inputCompanyName"
                  placeholder="Company"
                  formControlName="companyname"
                  required
                />
              </div>
              <div
                *ngIf="
                  signupForm.get('companyname')?.touched &&
                  signupForm.get('companyname')?.invalid
                "
                class="text-danger"
              >
                Company name is required.
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex">
                <img
                  style="height: 42px"
                  src="../../../assets/Form-Component3.png"
                />
                <input
                  type="tel"
                  id="businessPhone1"
                  maxlength="16"
                  class="form-control"
                  required
                  placeholder="Phone*"
                  onkeyup="this.value = this.value.replace(/[^0-9-]/g, '');"
                  formControlName="phone"
                />
              </div>
              <div
                *ngIf="
                  signupForm.get('phone')?.touched &&
                  signupForm.get('phone')?.invalid
                "
                class="text-danger"
              >
                Phone is required and must be 10-16 digits.
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex">
                <img
                  style="height: 42px"
                  src="../../../assets/Form-Component2.png"
                />
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail"
                  placeholder="Email"
                  formControlName="email"
                  required
                />
              </div>

              <div
                *ngIf="
                  signupForm.get('email')?.touched &&
                  signupForm.get('email')?.invalid
                "
                class="text-danger"
              >
                Valid email is required.
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex position-relative">
                <img
                  style="height: 42px"
                  src="../../../assets/Password-icon.png"
                />
                <input
                  [type]="showpassword ? 'text' : 'password'"
                  class="form-control"
                  id="inputPassword"
                  placeholder="Password"
                  formControlName="password"
                  required
                />
                <img
                  *ngIf="!showpassword"
                  (click)="togglePassword()"
                  class="password-toggle-icon"
                  src="../../../assets/eye.svg"
                />
                <img
                  *ngIf="showpassword"
                  (click)="togglePassword()"
                  class="password-toggle-icon"
                  src="../../../assets/eye-off.svg"
                />
              </div>
              <div
                *ngIf="
                  signupForm.get('password')?.touched &&
                  signupForm.get('password')?.invalid
                "
                class="text-danger"
              >
                Password is required.
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex position-relative">
                <img
                  style="height: 42px"
                  src="../../../assets/Password-icon.png"
                />

                <input
                  [type]="showconfirmpassword ? 'text' : 'password'"
                  class="form-control"
                  id="inputConfirmPassword"
                  placeholder="Confirm Password"
                  formControlName="confirmPassword"
                  required
                />
                <img
                  *ngIf="!showconfirmpassword"
                  (click)="toggleConfirmPassword()"
                  class="password-toggle-icon"
                  src="../../../assets/eye.svg"
                />
                <img
                  *ngIf="showconfirmpassword"
                  (click)="toggleConfirmPassword()"
                  class="password-toggle-icon"
                  src="../../../assets/eye-off.svg"
                />
              </div>
              <div
                *ngIf="
                  signupForm.get('confirmPassword')?.touched &&
                  signupForm.get('confirmPassword')?.invalid
                "
                class="text-danger"
              >
                Confirm Password is required.
              </div>
              <div
                *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.touched"
                class="text-danger"
              >
                Passwords do not match.
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-primary signup-btn"
              style="border: 0px; font-size: 17px !important"
              [disabled]="signupForm.invalid"
            >
              Sign Up
            </button>

            <div class="d-flex justify-content-center align-items-center my-3">
              <span style="font-size: 15px">Already have an account?</span>
              <span class="create-account-navigation" (click)="toggleSignup()">
                Log in</span
              >
            </div>
          </form>

          <!-- Display error message -->
          <!-- <div *ngIf="errorMessage" class="text-danger">
            {{ errorMessage }}
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
