<div class="container">
  <div class="d-flex">
    <div
      class="col-md-12 align-items-center justify-content-center p-5 app-searchBar"
    >
      <div class="col-md-6">
        <p class="ident">
          <b>Identify and accelerate growth opportunities with us!</b>
        </p>
      </div>
      <div class="col-md-6 subs" style="background: #011f41">
        <form (ngSubmit)="onSubmit1()" [formGroup]="form" class="mb">
          <div class="single">
            <div
              class="input-group"
              style="
                border-radius: 0px 0px 10px !important;
                color: white;
                width: 100%;
              "
              [ngClass]="{
                'full-width':
                  form.controls['officeEmail'].invalid ||
                  form.controls['officeEmail'].value === ''
              }"
              style="border-radius: 0px 0px 10px !important; color: white"
            >
              <input
                type="email"
                id="officeEmail"
                class="form-control subs_input"
                maxlength="50"
                formControlName="officeEmail"
                required
                placeholder="Official Email*"
                style="
                  margin-top: 0px !important;
                  background-color: #011f41;
                  color: white;
                  ::placeholder {
                    color: white;
                  }
                "
              />
              <div
                *ngIf="
                  form.controls['officeEmail'].invalid &&
                  (form.controls['officeEmail'].dirty ||
                    form.controls['officeEmail'].touched)
                "
              >
                <div
                  class="invalidemail"
                  *ngIf="form.controls['officeEmail'].errors?.['required']"
                  style="margin-top: 43px !important"
                >
                  Office Email is required.
                </div>

                <div
                  class="invd"
                  *ngIf="form.controls['officeEmail'].errors?.['email']"
                >
                  Invalid email format.
                </div>
                <div *ngIf="form.controls['officeEmail'].errors?.['maxLength']">
                  Email length exceeded the limit.
                </div>
              </div>
              <div class="d-flex justify-content-center subs_width">
                <span
                  class="input-group-btn"
                  style="font-family: 'Arial Nova Bold'"
                >
                  <button class="btn btn-theme subs_button" type="submit">
                    Subscribe Now
                  </button>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
