<div class="container-fluid" style="margin-bottom: 70px">
  <div class="row">
    <div class="col-md-2 lt" style=" margin: 6px; background-color: white;box-shadow: 3px 3px 3px 3px #efefef;">
      <form>
        <input class="srch" type="text" name="search" placeholder="Search Topic" /><i class="fa fa-search"></i>
      </form>
      <div>
        <a routerLink="/talk-to-analyst" class="a1">Connect With Our Analyst <i class="bi bi-chevron-right"></i></a>
        <div>
          <a routerLink="/become-a-client" class="a2">Connect With Our Servicer Partner <i
              class="bi bi-chevron-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-7 " style="margin-left:20px;margin-right: 2px !important; padding-top: 30px;padding-left: 20px;">
      <!-- <div class="research-item" *ngFor="let research of Reports"> -->
      <div style=" padding: 25px !important; background-color: white;box-shadow: 3px 3px 3px 3px #efefef;">
        <div class="row">
          <div class="col-md-12" style="padding-bottom: 5px">

            <div class="row" style="margin-bottom: 10px !important;">
              <div>
                {{ Reports.publishDate }}
                <span style="margin-left: 10px;font-size: 16px;">|</span>
                <span style="margin-left: 10px;font-size: 16px;">Category :</span>
                <a href="" style="text-decoration: none;font-size: 16px;"><span> {{ Reports.categoryName }}</span></a>
              </div>
            </div>
            <!-- <div class="col-sm-1">|</div> -->


          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <a href="#" class="research-title" style="font-size: 20px;padding-bottom: 10px !important;">{{
              Reports.report
              }} </a><br />
            <div style="margin-top: 6px !important;">
              <span class="research-category">Report Type :
                <a href="#" style="text-decoration: none"><span>{{ Reports.reportType }}</span></a>
              </span>
              <span class="research-category" style="margin-left: 14px">Author :
                <a href="#" style="text-decoration: none"><span>{{ Reports.author }} </span></a>
              </span>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div>
                <div class="row" style="margin-left: 25px;">
                  <div class="col-md-6 im">
                    <a (click)="addToCart(Reports)" style="cursor: pointer"><img src="/assets/cart.png"
                        style="width: 22px" /></a>
                  </div>
                  <div class="col-md-6 im1">
                    <a (click)="downloadForm(Reports)" style="cursor: pointer"><img src="/assets/download.png"
                        style="width: 22px" /></a>
                  </div>
                </div>

                <button class="btn btn-success bn" style="font-size: 14px;margin-top:15px;" (click)="buyNow(Reports)">
                  Buy Now
                </button>

              </div>


            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-9 research-description">
            <!-- <p class="dec">{{research.description}}</p> -->
          </div>
          <div class="col-md-3">

          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <span>Price : </span><span class="prc">
              <i class="fas fa-dollar-sign" style="color: #444343"></i>
              {{ Reports.price }}
            </span>
          </div>
        </div>

      </div>

      <!-- </div> -->

      <div class="row"
        style="margin: 15px 1px 1px 1px; background-color: white;box-shadow: 3px 3px 3px 3px #efefef;padding: 25px;">
        <div class="col-sm-12">
          <h1>Description:</h1>
          <div [innerHtml]="Reports.description"></div>
        </div>
      </div>
    </div>

    <div class="col-md-3 rts  d-flex flex-column justify-content-center">
      <div class="d-flex flex-column justify-content-center"
        style=" background-color: white; padding:20px;margin-top: 50px !important;  box-shadow: 3px 3px 3px 3px #efefef;">
        <button class="btn btn-success bt2" style="padding:15px;" (click)="downloadForm(Reports)">
          <img class="dic" src="/assets/download-01.png" />Download Sample Report
        </button>
        <div class="links" style="margin-left: 0px;display: flex; justify-content: space-between;">
          <div>
            <a href="#" class="fa fa-envelope-o"></a>
          </div>
          <div>
            <a href="https://www.linkedin.com/company/quadrant-knowledge-solutions/" target="_blank"
              class="fa fa-linkedin"></a>
          </div>
          <div>
            <a href="https://twitter.com/QKS_Quadrant" target="_blank" class="fa fa-twitter"></a>
          </div>
          <div>
            <a href="#" class="fa fa-facebook"></a>
          </div>
          <div>
            <a href="#" class="fa fa-instagram"></a>
          </div>
        </div>
        <h4 class="qs">Quadrant Sales</h4>
        <div style="margin-left: 12px">
          <div>
            <i class="fa fa-envelope-open-o"></i>&nbsp;
            <a href="mailto:ajinkya@quadrant-solutions.com"
              style="text-decoration: none; font-size: 16px;">ajinkya@quadrant-solutions.com</a>
          </div>
          <div style="margin-top: 10px !important;">
            <i class="bi bi-telephone"></i>&nbsp;
            <a href="tel:(+1) 978-344-2770" style="text-decoration: none; font-size: 16px; color: black;">(+1)
              978-344-2770</a>
          </div>

        </div>
        <h4 class="qs">Need a brief overview?</h4>
        <a routerLink="/contact-us" style="text-decoration: none;font-size: 20px;" class="cu">Contact Us<img
            src="/assets/arrow-right.png" style="height: 18px" /></a>
      </div>

    </div>
  </div>
</div>
<app-searchbar></app-searchbar>