$blue-1: #00327a;
$blue-2: #0972ea;
$white: #ffffff;
$grey: #444343;

.sidebar {
  background: linear-gradient(170deg, #4cccd6 -5%, #00327a 20%);
  padding: 38px;
  margin-bottom: 70px !important;
  height: 100%;
  padding-left: 40px !important;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.iti__flag-container {
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170)) !important;
}
.sticky-div {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 80px; /* Adjust this value as needed */
  /* Ensure it stays above other content if necessary */
  /* Add any additional styling as needed */
}

.sidebar-heading {
  font-size: 18px;
  color: $white;
  font-weight: 700;
  cursor: pointer;
  line-height: 30.24px;
  margin: 10px 0px 20px 0px;
}
.sidebar-title {
  font-size: 16px;
  color: $white;
  cursor: pointer;
  font-weight: 400;
  line-height: 24.19px;
}
.horizontal-line {
  border-bottom: 1px solid #ffffff;
}
.horizontal-line-black {
  border-bottom: 1px solid $grey;
}
.show-more-button {
  background-color: #ffffff;
  // color: $grey;
  color: $blue-2;
  border: none !important;
  padding: 5px 10px;
  font-size: 14px !important;
  cursor: pointer;
}
.show-more-button:hover {
  text-decoration: underline 1px $blue-2 !important;
}
.subscription-technology-title {
  font-size: 20px !important;
  font-weight: 700px !important;
  line-height: 24.19px;
  color: $blue-1;
}

.content-title {
  font-size: 20px !important;
  font-weight: 700px !important;
  line-height: 24.19px;
  color: $blue-1;
  border-bottom: 3px solid #00327a;
  width: 100%;
}
.password-heading {
  font-size: 20px !important;
  font-weight: 700px !important;

  color: $blue-1;
}
.subscription-technology-reports {
  font-size: 16px !important;
  font-weight: 400px !important;
  line-height: 24.19px;
  color: $grey;
  text-decoration: none;
}
.subscription-technology-reports:hover {
  text-decoration: underline;
}
form {
  width: 80%;
  max-width: 800px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #d9d9d980;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  height: 42px !important;
  box-sizing: border-box;
  background-color: #d9d9d980;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
}
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #d9d9d980;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #d9d9d980;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-container {
  position: relative;
  width: 100%;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Adjust to make space for the icon */
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #d9d9d980;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#firstName {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Adjust to make space for the icon */
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #d9d9d980;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#company {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Adjust to make space for the icon */
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #d9d9d980;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#firstName[disabled] {
  background-color: #cccccc !important; /* Change background color when disabled */
  color: light-dark(
    rgb(84, 84, 84),
    rgb(170, 170, 170)
  ); /* Change text color when disabled */
  box-shadow: none !important; /* Remove box shadow when disabled */
  cursor: not-allowed;
  opacity: 0.6;
  /* Change cursor to not-allowed when disabled */
}
#company[disabled] {
  background-color: #cccccc !important; /* Change background color when disabled */
  color: light-dark(
    rgb(84, 84, 84),
    rgb(170, 170, 170)
  ); /* Change text color when disabled */
  box-shadow: none !important; /* Remove box shadow when disabled */
  cursor: not-allowed;
  opacity: 0.6;
  /* Change cursor to not-allowed when disabled */
}

input[type="tel"],
input[type="email"][disabled] {
  background-color: #cccccc !important; /* Change background color when disabled */
  color: light-dark(
    rgb(84, 84, 84),
    rgb(170, 170, 170)
  ); /* Change text color when disabled */
  box-shadow: none !important; /* Remove box shadow when disabled */
  cursor: not-allowed;
  opacity: 0.6;
  /* Change cursor to not-allowed when disabled */
}
input[type="password"][readonly] {
  background-color: #cccccc !important; /* Change background color when disabled */
  color: light-dark(
    rgb(84, 84, 84),
    rgb(170, 170, 170)
  ); /* Change text color when disabled */
  box-shadow: none !important; /* Remove box shadow when disabled */
  cursor: not-allowed;
  opacity: 0.6;
  /* Change cursor to not-allowed when disabled */
}
.password-toggle-icon {
  position: absolute;
  right: 10px; /* Adjust the position as needed */
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  padding-top: -40px !important;
  height: 20px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

label {
  font-weight: 400;
  font-size: 16px;
}
.submit-btn {
  display: flex;
  width: 90px;
  height: 32px;
  font-size: 16px;
  font-family: "Arial Nova";
  padding: 14px 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(275deg, #4cd6b0 -6.18%, #00327a 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.common-padding {
  padding: 38px 62px !important;
}

.invoice-title {
  color: $grey;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.82px;
}
.common-hover-effect:hover {
  text-decoration: underline 1px gray !important;
}
.edit-button-style {
  display: flex;
  font-size: 14px;
  font-family: "Arial Nova";
  padding: 8px 20px;
  border: 0px !important;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(275deg, #4cd6b0 -6.18%, #00327a 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-top: 20px;
}
.edit-button-style:hover {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5) !important;
}
.submit-btn:hover {
  display: flex;
  width: 90px;
  height: 32px;
  font-size: 16px;
  font-family: "Arial Nova";
  padding: 14px 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(275deg, #4cd6b0 -6.18%, #00327a 100%);

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .sidebar {
    padding: 20px;
    margin-bottom: 20px !important;
    padding-left: 20px !important;
    position: static; /* Ensure the sidebar is not sticky */
  }

  .sticky-div {
    position: static; /* Ensure the sidebar is not sticky */
  }

  .sidebar-heading,
  .sidebar-title {
    font-size: 14px;
  }

  .main-container {
    padding: 0px;
  }

  form {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }

  .content-title {
    font-size: 18px !important;
  }

  .password-heading {
    font-size: 18px !important;
  }
}
