<!-- app.component.html -->
<div class="row">
  <div class="col-md-3 sidebar sticky-div">
    <div class="d-flex row row-gap-4 pl-5 pr-4 pb-0 pt-0">
      <div class="p-0">
        <h3 class="sidebar-heading p-0 m-0">My Account</h3>
      </div>
      <div class="horizontal-line"></div>
      <div class="p-0">
        <h3
          class="sidebar-title common-hover-effect p-0 m-0"
          (click)="displayContent('My Profile')"
          routerLink="/profile"
        >
          My Profile
        </h3>
      </div>
      <div class="horizontal-line"></div>
      <div class="p-0">
        <h3
          class="sidebar-title common-hover-effect p-0 m-0"
          (click)="displayContent('Subscription')"
          routerLink="/subscriptions"
        >
          My Subscriptions
        </h3>
      </div>
      <div class="horizontal-line"></div>
      <div class="p-0">
        <h3
          class="sidebar-title common-hover-effect p-0 m-0"
          (click)="displayContent('Download Invoice')"
          routerLink="/download-invoice"
        >
          Download Invoice
        </h3>
      </div>
      <div class="horizontal-line" style="padding-top: 100%"></div>
      <div class="p-0">
        <div class="d-flex justify-content-center align-items-center pt-1">
          <h3
            class="sidebar-title common-hover-effect p-0 m-0"
            (click)="displayContent('Download Invoice')"
          >
            Contact Us
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 main-container">
    <app-main-container [content]="content"></app-main-container>
    <div *ngIf="content === 'My Profile'">
      <div class="d-flex row row-gap-1 m-5 pr-5">
        <h3 class="content-title pb-1 p-0 m-0 mb-2">My Profile</h3>

        <div class="p-0 m-0">
          <form [formGroup]="passwordForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                placeholder="John"
                [disabled]="!isEditing"
                readonly
              />
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                placeholder="john@infomatica.com"
                id="email"
                [disabled]="!isEditing"
                required
                readonly
              />

              <div *ngIf="passwordForm.controls['email'].errors">
                <small
                  class="text-danger"
                  *ngIf="passwordForm.controls['email'].errors['email']"
                >
                  Invalid email address.
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="phone">Phone</label>

              <input
                type="tel"
                id="businessPhone1"
                maxlength="16"
                class="form-control"
                required
                placeholder="Phone*"
                style="margin-bottom: 20px"
                onkeyup="this.value = this.value.replace(/[^0-9-]/g, '');"
                [disabled]="!isEditing"
                readonly
              />
            </div>

            <div class="form-group">
              <label for="company">Company Name</label>
              <input
                type="text"
                id="company"
                placeholder="Informatica"
                [disabled]="!isEditing"
                readonly
              />
            </div>
            <div class="p-0 d-flex justify-content-end">
              <button
                class="btn btn-secondary"
                style="font-size: 16px !important"
                (click)="toggleEdit()"
              >
                {{ isEditing ? "Save" : "Edit" }}
              </button>
            </div>
            <div class="col-md-3 mb-3 p-0 horizontal-line-black">
              <h3 class="password-heading p-0 m-0 mt-3">Change Password</h3>
            </div>

            <div class="form-group">
              <label for="password">Current Password</label>
              <div class="input-container">
                <input
                  [type]="showpassword ? 'text' : 'password'"
                  id="password"
                  formControlName="currentpassword"
                  placeholder="••••••••••"
                  [readonly]="!isEditing"
                />
                <img
                  *ngIf="!showpassword"
                  (click)="togglePassword()"
                  class="password-toggle-icon"
                  src="../../../assets/eye.svg"
                />
                <img
                  *ngIf="showpassword"
                  (click)="togglePassword()"
                  class="password-toggle-icon"
                  src="../../../assets/eye-off.svg"
                />
              </div>
              <div
                *ngIf="
                  isEditing &&
                  passwordForm.get('currentpassword')?.invalid &&
                  passwordForm.get('currentpassword')?.touched
                "
                class="text-danger"
              >
                Password is required.
              </div>
            </div>

            <div class="form-group">
              <label for="password">New Password</label>
              <div class="input-container">
                <input
                  [type]="newshowpassword ? 'text' : 'password'"
                  id="password"
                  formControlName="password"
                  placeholder="••••••••••"
                  [readonly]="!isEditing"
                />
                <img
                  *ngIf="!newshowpassword"
                  (click)="toggleNewPassword()"
                  class="password-toggle-icon"
                  src="../../../assets/eye.svg"
                />
                <img
                  *ngIf="newshowpassword"
                  (click)="toggleNewPassword()"
                  class="password-toggle-icon"
                  src="../../../assets/eye-off.svg"
                />
              </div>
              <div
                *ngIf="
                  isEditing &&
                  passwordForm.get('password')?.invalid &&
                  passwordForm.get('password')?.touched
                "
                class="text-danger"
              >
                Password is required.
              </div>
            </div>

            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <div class="input-container">
                <input
                  [type]="showconfirmpassword ? 'text' : 'password'"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  placeholder="••••••••••"
                  [readonly]="!isEditing"
                />
                <img
                  *ngIf="!showconfirmpassword"
                  (click)="toggleConfirmPassword()"
                  class="password-toggle-icon"
                  src="../../../assets/eye.svg"
                />
                <img
                  *ngIf="showconfirmpassword"
                  (click)="toggleConfirmPassword()"
                  class="password-toggle-icon"
                  src="../../../assets/eye-off.svg"
                />
              </div>
              <div
                *ngIf="passwordForm.errors?.['mismatch'] && passwordForm.get('confirmPassword')?.touched"
                class="text-danger"
              >
                Passwords must match.
              </div>
            </div>

            <div class="d-flex justify-content-end pt-1">
              <a href="">
                <label style="float: right">
                  <span style="color: black; font-size: "
                    >For more information</span
                  >
                  contact us
                </label>
              </a>
            </div>

            <button
              type="submit"
              [disabled]="!isEditing"
              class="btn btn-primary common-button-style"
              style="
                margin-top: 40px !important;
                margin-bottom: 80px !important;
                border: 0px;
                font-size: 17px !important;
              "
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
